<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>Demo</title>
</head>

<body>
<div id="app">
  <el-header style="text-align: left; font-size: 12px; background-color: #409EFF">
    <br>
    <span style="font-size: 20px;">Jcart</span>
    </el-header>

  <el-container style="height: 100%; border: 1px solid rgb(255, 255, 255)">
    <el-aside width="auto" style="background-color: rgb(255, 255, 255)">

    <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;" router="ture">
      <el-radio-button :label="false">开</el-radio-button>
      <el-radio-button :label="true">关</el-radio-button>
      </el-radio-group>
      <el-menu default-active="1-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">

        <el-submenu v-for="(aitem,ai) in aList" :key="ai" :index="aitem.index">
          <template slot="title">
            <i :class="aitem.class"></i>
            <span slot="title">{{aitem.slot}}</span>
          </template>
          <el-menu-item-group>
            <el-menu-item v-for="(bitem,bi) in aitem.bList" :key="bi" :index="bitem.name" @click="goHtml(bitem.name)">
              {{ bitem.navItem }}
            </el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-menu>
    </el-aside>

    <el-container>
      
      <iframe :src="aHtml" width="100%" height="100%" frameborder="0" scrolling="auto" ></iframe>
    </el-container>
  </el-container>
</div>

<script src="assets/js/axios.min.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/elementui.js"></script>
<script src="viewmodels/index-index.js"></script>

</body>

</html>
<style>
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
  </style>